@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

#social {
    margin: 10px 10px;
    text-align: center;
}

.smGlobalBtn {
    /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

/* facebook button class*/
.facebookBtn {
    background: #4060A5;
}

.facebookBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a";
    /* add facebook icon */
}

.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
}

/* twitter button class*/
.twitterBtn {
    background: #00ABE3;
}

.twitterBtn:before {
    font-family: "FontAwesome";
    content: "\f099";
    /* add twitter icon */
}

.twitterBtn:hover {
    color: #00ABE3;
    background: #fff;
}

/* google plus button class*/
.googleplusBtn {
    background: #e64522;
}

.googleplusBtn:before {
    font-family: "FontAwesome";
    content: "\f0d5";
    /* add googleplus icon */
}

.googleplusBtn:hover {
    color: #e64522;
    background: #fff;
}

/* linkedin button class*/
.linkedinBtn {
    background: #0094BC;
}

.linkedinBtn:before {
    font-family: "FontAwesome";
    content: "\f0e1";
    /* add linkedin icon */
}

.linkedinBtn:hover {
    color: #0094BC;
    background: #fff;
}

/* pinterest button class*/
.pinterestBtn {
    background: #cb2027;
}

.pinterestBtn:before {
    font-family: "FontAwesome";
    content: "\f0d2";
    /* add pinterest icon */
}

.pinterestBtn:hover {
    color: #cb2027;
    background: #fff;
}

/* instagram button class*/
.instagramBtn {
    background: #428bca;
}

.instagramBtn:before {
    font-family: "FontAwesome";
    content: "\f16d";
    /* add instagram icon */
}

.instagramBtn:hover {
    color: #cb2027;
    background: #fff;
}

/* tumblr button class*/
.tumblrBtn {
    background: #3a5876;
}

.tumblrBtn:before {
    font-family: "FontAwesome";
    content: "\f173";
    /* add tumblr icon */
}

.tumblrBtn:hover {
    color: #3a5876;
    background: #fff;
}

/* rss button class*/
.rssBtn {
    background: #e88845;
}

.rssBtn:before {
    font-family: "FontAwesome";
    content: "\f09e";
    /* add rss icon */
}

.rssBtn:hover {
    color: #e88845;
    background: #fff;
}

/* medium button class*/
.mediumBtn {
    background: #00ABE3;
}

.mediumBtn:before {
    font-family: "FontAwesome";
    content: "\f23a";
    /* add medium icon */
}

.mediumBtn:hover {
    color: #00ABE3;
    background: #fff;
}

/* dribbble button class*/
.dribbbleBtn {
    background: #ea4c89;
}

.dribbbleBtn:before {
    font-family: "FontAwesome";
    content: "\f17d";
    /* add dribbble icon */
}

.dribbbleBtn:hover {
    color: #00ABE3;
    background: #fff;
}

/* medium button class*/
.deliciousBtn {
    background: #0076e8;
}

.deliciousBtn:before {
    font-family: "FontAwesome";
    content: "\f1a5";
    /* add delicious icon */
}

.deliciousBtn:hover {
    color: #00ABE3;
    background: #fff;
}





/* medium button class*/

